/* add css module styles here (optional) */

.overlay {
  z-index: 99;
  position: fixed;
  background: rgba(0, 0, 0, 0.65);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}